{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the home page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac sagittis arcu, in tempor erat.
                Mauris tempus
                faucibus eleifend. Phasellus vitae mollis dui. Fusce ornare aliquet massa, et bibendum libero mattis
                sed. Morbi
                non feugiat ligula, at rutrum justo. Vestibulum sit amet leo metus. Sed luctus mollis odio at
                ullamcorper. Ut
                convallis efficitur dolor vitae congue. Pellentesque finibus mattis vulputate.

                Nulla facilisi. Sed pellentesque nec erat sed mattis. Vestibulum ante ipsum primis in faucibus orci
                luctus et
                ultrices posuere cubilia curae; Nunc pellentesque vitae dolor quis tempus. Donec blandit sapien non
                purus
                faucibus feugiat. Nunc luctus est in elementum euismod. Ut tincidunt elit quis tempus congue. Aenean
                convallis
                massa nibh, in elementum augue efficitur non. Curabitur convallis diam tortor, vel dapibus ligula
                accumsan et.
                Quisque tristique lorem nulla, et posuere ligula rhoncus dignissim. Nulla ullamcorper dui sit amet
                ex vestibulum
                blandit. Phasellus elit urna, pharetra nec consequat sed, dignissim ut leo.

                Nam ut sapien in nibh interdum consequat. Suspendisse sit amet aliquam urna. Praesent augue nulla,
                placerat non
                libero vitae, ultricies ultrices massa. Duis odio turpis, consectetur a tortor vel, rhoncus pretium
                nisl. Mauris
                at felis vel mauris venenatis efficitur. Pellentesque euismod hendrerit eros eget pellentesque.
                Phasellus ornare
                consectetur lorem, luctus tempor ex blandit ac. Praesent sollicitudin dolor ac metus volutpat
                maximus. Interdum
                et malesuada fames ac ante ipsum primis in faucibus. Maecenas lobortis tortor quis dolor posuere
                volutpat.
                Nullam bibendum ligula quis ipsum congue, in consequat neque blandit. Vivamus eu condimentum urna.
                Vivamus dolor
                enim, malesuada vel felis eu, bibendum venenatis eros.

                Morbi ut dapibus nunc, quis feugiat turpis. Sed suscipit blandit commodo. Praesent neque massa,
                aliquet nec
                luctus at, venenatis sed leo. Nullam pretium convallis vestibulum. Fusce bibendum euismod purus, at
                efficitur
                ligula. Nam vitae nisi in sem vestibulum pharetra. Nullam at ipsum volutpat, condimentum metus nec,
                feugiat
                mauris. Aliquam velit lacus, lobortis eu nibh et, sagittis dapibus lectus. Praesent sit amet gravida
                enim. Cras
                id mi quis ex vestibulum tincidunt id quis leo. Donec vulputate sapien vestibulum nunc egestas
                lacinia. Nulla
                facilisis justo id arcu sodales aliquam. Aenean vitae rutrum libero. Sed iaculis vehicula sapien,
                vel fringilla
                massa tristique eu.

                Donec lobortis justo vel risus dapibus, non porta tellus tempor. Nulla egestas suscipit cursus.
                Phasellus
                imperdiet orci a ex lacinia ultricies. Nunc pretium rhoncus egestas. Suspendisse quis faucibus mi.
                Quisque
                iaculis non metus ac tempor. Curabitur semper sem at fermentum bibendum. </p>
        </div>
    </div>
</div>

{{end}}